body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

h1{

    font-size: 45px;
    color: black;
}

.name-highlight{

    color: hotpink;
    text-shadow: 2px 1px 1px hotpink;
}

p{
    color: black;
    padding: 10px;
   
}

.half-width{

    width: 37%;
    float: left;
    margin-left: 1%;
    padding-left: 1%;

}

.half-width img{
    
    width: 100%;
    height: 100%;
}

.top-banner{

border: 1px solid cyan;
background-image: url(header-bg.png);
background-position: top;
background-repeat: repeat;



}
    
section{

    height: 800px;
}


.link-button{

    text-decoration: white;
    font-size: 20px;
    background-color: fuchsia;
    padding: 10px 20px;
    border-radius: 5px;
}


h2{

    text-align: center;



}


.dream-area{
text-align:left;
background-image: url(biography-bg.png);
background-repeat: no-repeat;
background-position: right;
padding: 20px 30px;


}


.work-area{
text-align: center;
background-image: url(latest-work-bg.png);
background-repeat: round;
background-position: right;
padding: 10px 20px;
background-size: cover;





}

